---
layout: layouts/characters.njk
pagination:
    data: characters
    size: 1
    alias: chara
permalink: "characters/{{ chara.title | slugify }}/"
eleventyComputed:
    title: {{ chara.title }}
---


<img src="/images/{{ chara.pic }}" class="left" alt="{{ chara.title }}" />
			
<h2>{{ chara.title }}</h2>

<p>{{ chara.personality | safe }}</p>

<ul>
    {{ chara.stats | safe }}

<li><strong>Seiyuu:</strong> <a href="/seiyuu/{{ chara.seiyuu | slugify }}">{{ chara.seiyuu }}</a></li>
</ul>