---
layout: layouts/characters.njk
title: The pre-regulars
---


    <h2>{{ title }}</h2>

    <p>Yes, there IS information on some of the other guys of Hyoutei... just not much aside from names. The pre-regulars play in games that Sakaki doesn't consider important enough to use all of the regulars on. Generally it's presented as part of Hyoutei's general arrogance and <em>"we're too good for any you&quot;</em>ness, but I think it's probably a very good way to prepare promising players that aren't up to the regulars' standards.</p>

    <p>Aside from Taki Haginosuke, there four other boys that are mentioned:</p>

    <ul>
        <li><strong>Chikabashi:</strong> played doubles with Ogawa three times in the prefectural tournament, including the infamous quarterfinal against Fudomine (doubles 2, lost against Sakurai and Ishida), and the consolation game against St. Rudolph (theirs was the only match Hyoutei lost in the consolation round, against Akazawa and Kaneda, at doubles 2).</li>
        <li><strong>Kashiwa:</strong> played doubles with Kaida in the first game of the district tournament and in the quarterfinal, where they lost against Fudomine's Kamio and Shinji.</li>
            
        <li><strong>Ogawa:</strong> played doubles 1 with Shishido in the first match of the district tournament (they won 6-0), then played doubles 1 with Chikabashi in the second match (won 6-1), and finally doubles 2 in the quarterfinal and consolation round, again with Chikabashi, and they lost both.</li>
            
        <li><strong>Kaida:</strong> played doubles 2 in the first match of the district tournament with Kashiwa, doubles 2 with Kabaji inthe second match, doubles 1 with Kashiwa in the quarterfinal, and doubles 1 with Kabaji in the consolation round (they beat Yanagisawa and Kisarazu 6-4).</li>

    </ul>