<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }} | Koori no Emperor</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link href="https://fonts.bunny.net/css?family=bodoni-moda:700,800" rel="stylesheet" />
</head>
<body>
	<div id="wrap">

		<div id="header">
			<h1><a href="/" title="main" aria-label="{{ site.name }} - main"><span>Koori no Emperor: Hyoutei Shrine</span></a></h1>
		</div>


		<div id="nav" aria-label="Primary">    
			<ul>   
				{# id="currentpage" 	 #}
				{% for item in navigation.items %}
					<li>
						<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
						>{{ item.text }}</a
						>
					</li>
				{% endfor %}
			</ul>    	
		</div>
		
		<div id="pagebody"> 

			<div id="maincontent"> 

				{% block content %}{% endblock %}

			</div>
				
				<div id="footer">
					<p><p>Design &amp; content &copy; 2003- <? 
					date_default_timezone_set("America/Costa_Rica");
					echo date("Y") ?> Mura | Part of <a href="http://hyoutei.org" target="_blank">Hyoutei.org</a> | <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fhyoutei.org%2Findex.php" target="_blank">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://hyoutei.org/index.php" target="_blank">CSS</a> | <a href="http://ice.hyoutei.org/rss2.php">RSS feed</a>
					</p></p>
				</div>	
			
		</div>

		
	</div>
</body>
</html>