{% extends "layouts/base.njk" %} 

{% block content %}

    {{ content | safe }}

	</div><div id="sidebar">

<h3 class="boys"><span>Characters</span></h3>

        <ul>
            {% for item in characters %}
                <li>
                    <a href="/characters/{{ item.title | slugify }}">{{ item.title }}</a
                    >
                </li>
            {% endfor %}
            
            <li><a href="/characters/others/">Others</a></li>
        </ul>

{% endblock %}