{% extends "layouts/base.njk" %} 

{% block content %}

    {{ content | safe }}

    </div><div id="sidebar">
    
    <h3><span>Navigate</span></h3>
    
		<p><strong><a href="https://web.archive.org/web/20070116145545/http://itsuki.sub.jp/hal/s1.html" target="_blank">Atobe support!</a></strong><br />
		<a href="https://web.archive.org/web/20070116145545/http://itsuki.sub.jp/hal/s1.html" target="_blank"><img src="/images/victory.gif" alt="Atobe Keigo support site" /></a></p>

        <p><strong>Fanlistings</strong></p>
        
        <p class="buttons"><a href="http://atobe.hyoutei.org" target="_blank"><img src="linkimg/fl-atobe50.gif" alt="Atobe FL" width="50" height="50" border="0"/></a> <a href="http://kantoku.hyoutei.org" target="_blank"><img src="linkimg/fl-sakaki-50x50-2.gif" alt="Sakaki FL" width="50" height="50" border="0" /></a> <a href="http://ohtori.hyoutei.org" target="_blank"><img src="linkimg/fl-ohtori-50x50-3.gif" alt="Ohtori FL" width="50" height="50" border="0" /></a> <a href="http://shishido.hyoutei.org" target="_blank"><img src="linkimg/fl-shishido-50x50-9.gif" alt="Shishido FL" width="50" height="50" border="0" /></a></p>

{% endblock %}