:root {
	--font-family__body: 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Helvetica, Verdana, Arial, Sans-serif;
	--font-family__headings: 'Bodoni Moda', serif;
}
* {
	padding:0;
	margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, fieldset, address { margin:0 0 1em 0; }
li, dd, blockquote, table.seiyuuroles { margin-left: 40px; }
fieldset { padding:10px; }

h1 {
	margin:0;
	padding:0;
}

	
h4 {
	font:9px/12px var(--font-family__body);
	margin-top:-1.25em;
	margin-bottom:3em;
	color:#A8ACC0;
}

p, ul	{
	margin-top:0;
	padding-top:0;
}

img {
	border:0;
}


h2 {
	font: 1.9em/12px var(--font-family__headings);	
	font-weight:bold;
	color:#fff;
	padding:16px 0 0 0;
	// letter-spacing:3px;
	}

	
h3 {
	font: 1.3em/11px var(--font-family__headings); 
	color:#A8ACC0;
	padding:16px 0 0 0;
	// letter-spacing:3px;
}

h2 + h3 {
	margin: -10px 0 20px 0;
	padding:0;
	color:#131314;
}
	
	/* layout */

body	{
	background: #EAECED;
	margin: 0;
	padding: 0 0 25px 0;
	border-top: 5px solid #303032;
	text-align: center;
	font: 14px/1.7 var(--font-family__body);  
	}
	
#wrap {
	background: transparent url(/images/ice_top.png) top left no-repeat;
	margin: 0px auto;
	margin-top:20px;
	padding: 0;
	border: 0;
	width: 600px;	
	text-align:left;
	}
	


#header	{
	margin:0;
	padding:0;
	background:transparent;
	height:120px;	
}
#header a {
	background: url(/images/ice_top.png) top left no-repeat;
	color: #fff;
	display: block;
	font-size: 10px;
	padding: 0px;
	height:120px;
	width:300px;
	text-decoration: none;

}
#header span	{
	margin-left:-2000px;
	display: none;
}

#nav {
	margin:-15px 0 0 0;
	height:15px;
	text-align:right;
	color:#fff;
}

#pagebody {
	padding: 210px 0 0 0;
	margin: 0;
	text-align: left;
	background: #394254 url(/images/ice_boys.jpg) top left no-repeat;
}

#maincontent	{
	float: left;
	margin: 50px 0 20px 0;
	padding: 0 15px 15px 15px;
	border-right: 1px dotted #000;
	width: 440px; 
	background: transparent;
	}

	
#sidebar	{
	padding: 0 5px;
	margin: 0 0 0 480px;
	background: transparent; 
	font-size:9px;

	}
	
#footer {
	padding: 0 15px;
	clear: both;
	border-bottom:5px solid #303032;
	}
	
	
	

	/*  type */
	
body, table {	
	font: 14px/1.7 var(--font-family__body);  
	color:#EAECED;
}

#footer, #sidebar, #nav, .pic, .hour	{
	font: 9px/12px var(--font-family__body);
}

#footer p {
	margin-bottom:5px;
}

p.updates span {
color:#A8ACC0;
font-size:9px;
}
p.updates strong {
color:#131314;
font-size:12px;
}
	/* links */
	
a, a:link, a:visited  { 
		color: #A8ACC0; 
		text-decoration: none; 
		font-weight:normal; 
		cursor: crosshair 
		}

h4 a, h4 a:link, h4 a:visited  { 
		color: #fff; 
		font-weight:normal; 
		}

a:active, a:hover, h4 a:active, h4 a:hover { 
		color: #9E6377; 
		text-decoration: underline; 
		font-weight:normal; 
		cursor: crosshair;
		}
		
.hide a, .hide a:link, .hide a:visited  { 
		color: #fff; 
		text-decoration: none; 
		font-weight:normal;
		}
		
.hide a:active, .hide a:hover { 
		color: #fff; 
		text-decoration: none; 
		font-weight:normal;
		}
		


	/* top nav */

#nav ul {
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	clear: right;
	display: flex;
	justify-content: flex-end;
}
#nav ul li {
	// display: block;
	// float: right;
	// text-align: center;
	padding: 0 6px 0 0;
	margin: 0;
}

	
#nav a, #nav a:link, #nav a:visited  { 
		color: #fff; 
		text-decoration: none; 
		font-weight:bold; 
		cursor: crosshair;
		display: block;
		}

#nav a:active, #nav a:hover { 
		color: #9E6377; 
		text-decoration: none; 
		font-weight:bold; 
		cursor: crosshair;
		}	

#nav #currentpage {
	font-weight:normal; 
	color: #A8ACC0;
}

	/* sidebar */


#sidebar ul {
	list-style: none;
	margin: 0 0 2em 0;
	padding: 0;
}
#sidebar ul li {
	margin:0;
	padding: 0 0 2px 0;
}

#sidebar a, #sidebar a:link, #sidebar a:visited  { 
		color: #fff; 
		text-decoration: none; 
		font-weight:bold; 
		cursor: crosshair 
		}

#sidebar a:active, #sidebar a:hover { 
		color: #9E6377; 
		text-decoration: none; 
		font-weight:bold; 
		cursor: crosshair;
		}	

	/* sidebar h3 */
	
#sidebar h3 {
	width:150px;
	height:40px;
	margin:0 0 20px -35px;
	padding:0;
}	
#sidebar h3.intro {
	background: url(/images/tab_intro.gif) no-repeat;
}
#sidebar h3.hyoutei {
	background: url(/images/tab_hyoutei.gif) no-repeat;
}
#sidebar h3.boys {
	background: url(/images/tab_boys.gif) no-repeat;
}
#sidebar h3.epguide {
	background: url(/images/tab_epguide.gif) no-repeat;
}
#sidebar h3.candy {
	background: url(/images/tab_candy.gif) no-repeat;
}
#sidebar h3.site {
	background: url(/images/tab_site.gif) no-repeat;
}
#sidebar h3 span	{
	margin-left:-2000px;
	display: none;
}


	/* other */
	
img.left  {
	margin:15px 10px 0px 0;
	border:2px solid #303032;
	float:left;
	}
	
.hour {
	color:#131314;
	}	


ul.update {
		list-style-type: none;
		}
		
ul.update li {
		margin-bottom: 1em;
		}		

ul.link {
		list-style-type: none;
		margin-top: 0;
		}

	/*  forms */

.form {
	margin: 0 50px;
	padding:1em 1em 0 1em;
	border: 1px dotted #758494;
	font: 9px/12px var(--font-family__body);
}

input, select, textarea {
	margin:0;
	padding:2px 3px 1px;;
	background: #303032;
	border: 1px solid #758494;
	font: 11px/17px Courier, Sans-serif;  
	color:#EAECED;
	}
	
	/* tables */
	
table td {
	padding:2px 5px;
}

table.seiyuuroles, table.eps {
		background:transparent;
		}
		
table.seiyuuroles td, table.eps td {
		background:#758494;
		}
	
table.seiyuuroles h3, table.eps h3 {
		font: 11px/17px var(--font-family__body);
		font-weight:bold;
		margin:0;
		padding:0;
		letter-spacing:0;
		color: #303032;
		}	
tr.h td {
		background: #303032;
		padding:3px 5px 1px;
		text-align:center;
		font: bold 9px/12px var(--font-family__body);
		}
		
	/* lyrics tables */

table.trans {
font:9px/12px var(--font-family__body);
}
table.trans tr.m td{
padding-top:2em;
border-bottom:1px dotted;
}
