---
layout: layouts/characters.njk
title: Characters
---

<h2>{{ title }}</h2>

    <p>I hope to eventually make this the strongest section of the site. Basically, more than profiles, I would like these to be mini-shrines to each of the boys. And to Sakaki, who may not be a boy, but in my opinion deserves just as much fangirl adoration.</p>
    	
    <ul>
        {% for item in characters %}
            <li>
                <a href="/characters/{{ item.title | slugify }}">{{ item.title }}</a
            </li>
        {% endfor %}
        
        <li><a href="/characters/others/">Others</a></li>
    </ul>